##### SQL is part of term 1: we will be focussing on the key notes

```
SELECT col1 + col2 as sum
FROM the_table
WHERE col3 = 'US';
```

##### Quiz Arithmatic Operation

```
SELECT id, account_id, standard_amt_usd/standard_qty as unit_price
FROM table
LIMIT 10;
```

##### LIKE

```
SELECT * 
FROM table
WHERE col1 LIKE '%google%'

```
To Search col1 (text column) with a word google in it

##### IN

```
SELECT *
FROM table
WHERE col1 in (1001,1021)
```

##### NOT

```
SELECT *
FROM table
WHERE col1 NOT LIKE '%google%'
```

```
SELECT * 
FROM table
WHERE col1 NOT IN (100,200)
ORDER BY col1 DESC
```

##### AND & BETWEEN

```
SELECT * 
FROM table
WHERE col1 NOT IN (100,150) AND col2 BETWEEN 200 AND 300
```

##### OR and IN being same

```
SELECT *
FROM table
WHERE col1 in (100,200)
```

```
SELECT * 
FROM table
WHERE col1 = 100 OR col1 = 200
```